{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block head %}
    <link href="{{ url_for('admin.static', filename='chosen/chosen.css') }}" rel="stylesheet">
    <link href="{{ url_for('admin.static', filename='css/datepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  {% macro extra() %}
    <input name="_add_another" type="submit" class="btn btn-large" value="{{ _gettext('Save and Add') }}" />
  {% endmacro %}

    <ul class="nav nav-tabs">
        <li>
            <a href="{{ return_url }}">{{ _gettext('List') }}</a>
        </li>
        <li class="active">
            <a href="#">{{ _gettext('Create') }}</a>
        </li>
  	</ul>
  {{ lib.render_form(form, return_url, extra()) }}
{% endblock %}

{% block tail %}
    <script src="{{ url_for('admin.static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='js/form.js') }}"></script>
{% endblock %}
