{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">

  <div>
    <h1>Flask-Admin example</h1>
    <p class="lead">
      Authentication
    </p>
    <p>
      This example shows how you can use Flask-Security for authentication.
    </p>
    {% if not current_user.is_authenticated() %}
    <p>You can register as a regular user, or log in as a superuser with the following credentials:
    <ul>
      <li>email: <b>admin</b></li>
      <li>password: <b>admin</b></li>
    </ul>
    </p>
    <p>
      <a class="btn btn-default" href="{{ url_for('security.login') }}">login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">register</a>
    </p>
    {% endif %}
  </div>

  <a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Back</a>
</div>
{% endblock body %}