<!DOCTYPE html>
<html>
<head>
    <title>Flask-Admin examples</title>
    <meta name="description" content="Live examples of the Flask-Admin package in action. See how you can add your own custom views, change the look & feel of the admin interface, or just add basic CRUD-views for managing your models.">

    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <style>
        .item{
            padding-top: 5px;
        }

        .item hr{
            margin-bottom: 0;
        }

        .item .btn{
            margin-bottom: 10px;
        }

        .item p.lead{
            margin-bottom: 5px;
        }

        .footer p{
            margin-top: 25px;
            margin-bottom: 45px;
        }
    </style>
</head>
<body>
<div class="jumbotron">
    <h1>Flask-Admin examples</h1>
    <p>
        These are some of the examples that can be found in the Flask-Admin GitHub repo at
        <a href="https://github.com/mrjoes/flask-admin" target="_blank">https://github.com/mrjoes/flask-admin</a>.
        Feel free to play around. This site gets refreshed every 10 minutes or so.
    </p>
</div>

<div class="container">

    <div class="item">
        <h2>Simple views</h2>
        <p class="lead">Add a few of your own views to the admin interface. You can add links to them in the top navbar,
            but you don't have to.</p>
        <a class="btn btn-primary" role="button" href="simple/admin/"><i class="fa fa-chevron-right"></i> view example</a>
        <hr>
    </div>

    <div class="item">
        <h2>SQLAlchemy models</h2>
        <p class="lead">Add some basic CRUD-views for your models.</p>
        <a class="btn btn-primary" role="button" href="sqla/simple/admin/"><i class="fa fa-chevron-right"></i> view example</a>
        <!--<p class="lead">Define models with multiple primary keys.</p>-->
        <!--<a class="btn btn-primary" role="button" href="sqla/multiple_pk/admin/"><i class="fa fa-chevron-right"></i> view example</a>-->
        <hr>
    </div>

    <div class="item">
        <h2>Customize the layout</h2>
        <p class="lead">Take control of the look & feel of your admin interface.</p>
        <a class="btn btn-primary" role="button" href="layout/admin/"><i class="fa fa-chevron-right"></i> view example</a>
        <hr>
    </div>

    <div class="item">
        <h2>Files, images & custom forms</h2>
        <p class="lead">Define custom forms using form rules, and quickly add file/image management to your application.</p>
        <p>Note: a 5Mb limit has been placed on the size of uploaded files & images for this example.</p>
        <a class="btn btn-primary" role="button" href="forms/admin/"><i class="fa fa-chevron-right"></i> view example</a>
        <hr>
    </div>

    <div class="item">
        <h2>Authentication</h2>
        <p class="lead">Use Flask-Login to authenticate users.</p>
        <a class="btn btn-primary" role="button" href="auth/admin/"><i class="fa fa-chevron-right"></i> view example</a>
        <hr>
    </div>

</div>
<div class="container footer">
    <p>

    </p>
</div>

<!-- Google Analytics tracking -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45533714-1', 'flask-admin.org');
    ga('send', 'pageview');
</script>

</body>
</html>