{% extends "admin/master.html" %}
{% import "admin/lib.html" as lib with context %}
{% import "admin/static.html" as admin_static with context %}
{% import "admin/model/layout.html" as model_layout with context %}
{% import "admin/actions.html" as actionlib with context %}
{% import "admin/model/row_actions.html" as row_actions with context %}
{% block head %}
    {{ super() }}
    {{ lib.form_css() }}
{% endblock head %}
{% block header %}
    <div class="row align-items-center">
        <div class="col">
            <div class="page-pretitle">{{ admin_view.category if admin_view.category else _gettext("Admin") }}</div>
            <h2 class="page-title">{{ admin_view.name }}</h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
                <span class="d-none d-sm-inline">
                    {% if admin_view.can_create %}
                        {%- if admin_view.create_modal -%}
                            {{ lib.add_modal_button(url=get_url('.create_view', url=return_url, modal=True) , btn_class="nav-link", title=_gettext('Create New Record'), content=_gettext('Create')) }}
                        {% else %}
                            <a href="{{ get_url('.create_view', url=return_url) }}"
                               title="{{ _gettext("Create New Record") }}"
                               class="btn">{{ _gettext("Create") }}</a>
                        {%- endif -%}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock header %}
{% block body %}
    <div class="card">
        <div class="card-header">
            {% block model_menu_bar %}
                <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link active disabled">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <i class="fa fa-list"></i>
                            </span>
                            {{ _gettext("List") }}
                            {% if count %}({{ count }}){% endif %}
                        </a>
                    </li>
                    {% if admin_view.can_create %}
                        <li class="nav-item">
                            {%- if admin_view.create_modal -%}
                                {# djlint:off #}
                                {% set content = "<span class='nav-link-icon d-md-none d-lg-inline-block'><i class='fa fa-plus'></i></span>" | safe + _gettext("Create") %}
                                {# djlint:on #}
                                {{ lib.add_modal_button(url=get_url('.create_view', url=return_url, modal=True) , btn_class='nav-link', title=_gettext('Create New Record'), content=content) }}
                            {% else %}
                                <a href="{{ get_url('.create_view', url=return_url) }}"
                                   title="{{ _gettext("Create New Record") }}"
                                   class="nav-link">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                    {{ _gettext("Create") }}
                                </a>
                            {%- endif -%}
                        </li>
                    {% endif %}
                    {% if admin_view.can_export %}{{ model_layout.export_options() }}{% endif %}
                    {% block model_menu_bar_before_filters %}
                    {% endblock model_menu_bar_before_filters %}
                    {% if filters %}<li class="nav-item dropdown">{{ model_layout.filter_options() }}</li>{% endif %}
                    {% if can_set_page_size %}
                        <li class="nav-item dropdown">{{ model_layout.page_size_form(page_size_url) }}</li>
                    {% endif %}
                    {% if actions %}<li class="nav-item dropdown">{{ actionlib.dropdown(actions) }}</li>{% endif %}
                    {% if search_supported %}<li class="nav-item ms-auto">{{ model_layout.search_form() }}</li>{% endif %}
                    {% block model_menu_bar_after_filters %}
                    {% endblock model_menu_bar_after_filters %}
                </ul>
            {% endblock model_menu_bar %}
        </div>
        <div class="card-body">
            {% if filters %}
                {{ model_layout.filter_form() }}
                <div class="clearfix"></div>
            {% endif %}
        </div>
        <div class="card-body">
            {% block model_list_table %}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover model-list">
                        <thead>
                            <tr>
                                {% block list_header scoped %}
                                    {% if actions %}
                                        <th class="list-checkbox-column">
                                            <input type="checkbox"
                                                   name="rowtoggle"
                                                   class="action-rowtoggle"
                                                   title="{{ _gettext("Select all records") }}" />
                                        </th>
                                    {% endif %}
                                    {% block list_row_actions_header %}
                                        {% if admin_view.column_display_actions and list_row_actions %}<th class="">&nbsp;</th>{% endif %}
                                    {% endblock list_row_actions_header %}
                                    {% for c, name in list_columns %}
                                        {% set column = loop.index0 %}
                                        <th class="column-header col-{{ c }}">
                                            {% if admin_view.is_sortable(c) %}
                                                {% if sort_column == column %}
                                                    <a href="{{ sort_url(column, True) }}"
                                                       title="{{ _gettext('Sort by %(name)s', name=name) }}">
                                                        {{ name }}
                                                        {% if sort_desc %}
                                                            <span class="fa fa-chevron-up glyphicon glyphicon-chevron-up"></span>
                                                        {% else %}
                                                            <span class="fa fa-chevron-down glyphicon glyphicon-chevron-down"></span>
                                                        {% endif %}
                                                    </a>
                                                {% else %}
                                                    <a href="{{ sort_url(column) }}"
                                                       title="{{ _gettext('Sort by %(name)s', name=name) }}">{{ name }}</a>
                                                {% endif %}
                                            {% else %}
                                                {{ name }}
                                            {% endif %}
                                            {% if admin_view.column_descriptions.get(c) %}
                                                <span class="form-help"
                                                      data-bs-trigger="hover"
                                                      data-bs-toggle="popover"
                                                      data-bs-placement="top"
                                                      data-bs-html="true"
                                                      data-bs-content="{{ admin_view.column_descriptions[c] }}">?</span>
                                            {% endif %}
                                        </th>
                                    {% endfor %}
                                {% endblock list_header %}
                            </tr>
                        </thead>
                        {% for row in data %}
                            <tr>
                                {% block list_row scoped %}
                                    {% if actions %}
                                        <td>
                                            <input type="checkbox"
                                                   name="rowid"
                                                   class="action-checkbox"
                                                   value="{{ get_pk_value(row) }}"
                                                   title="{{ _gettext("Select record") }}" />
                                        </td>
                                    {% endif %}
                                    {% block list_row_actions_column scoped %}
                                        {% if admin_view.column_display_actions %}
                                            {% block list_row_actions scoped %}
                                                {% if list_row_actions %}
                                                    <td class="list-buttons-column">
                                                        <div class="dropdown">
                                                            <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">{{ _gettext("Actions") }}</a>
                                                            <div class="dropdown-menu">
                                                                {% for action in list_row_actions %}{{ action.render_ctx(get_pk_value(row) , row) }}{% endfor %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                {% endif %}
                                            {% endblock list_row_actions %}
                                        {%- endif -%}
                                    {% endblock list_row_actions_column %}
                                    {% for c, name in list_columns %}
                                        <td class="col-{{ c }}">
                                            {% if admin_view.is_editable(c) %}
                                                {% set form = list_forms[get_pk_value(row)] %}
                                                {% if form.csrf_token %}
                                                    {{ form[c](pk=get_pk_value(row) , display_value=get_value(row, c), csrf=form.csrf_token._value()) }}
                                                {% elif csrf_token %}
                                                    {{ form[c](pk=get_pk_value(row) , display_value=get_value(row, c), csrf=csrf_token()) }}
                                                {% else %}
                                                    {{ form[c](pk=get_pk_value(row) , display_value=get_value(row, c)) }}
                                                {% endif %}
                                            {% else %}
                                                {{ get_value(row, c) }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                {% endblock list_row %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="999">
                                    {% block empty_list_message %}
                                        <div class="text-center">{{ admin_view.get_empty_list_message() }}</div>
                                    {% endblock empty_list_message %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center gap-2">
                {% block list_pager %}
                    {% if num_pages is not none %}
                        {{ lib.pager(page, num_pages, pager_url) }}
                    {% else %}
                        {{ lib.simple_pager(page, data|length == page_size, pager_url) }}
                    {% endif %}
                {% endblock list_pager %}
            </div>
        {% endblock model_list_table %}
        {% block actions %}
            {{ actionlib.form(actions, get_url('.action_view') ) }}
        {% endblock actions %}
        {%- if admin_view.edit_modal or admin_view.create_modal or admin_view.details_modal -%}
            {{ lib.add_modal_window() }}
        {%- endif -%}
    </div>
{% endblock body %}
{% block tail %}
    {{ super() }}
    {% if filter_groups %}
        <div id="filter-groups-data" style="display:none;">{{ filter_groups|tojson|safe }}</div>
        <div id="active-filters-data" style="display:none;">{{ active_filters|tojson|safe }}</div>
    {% endif %}
    {{ lib.form_js() }}
    <script src="{{ admin_static.get_url(filename='admin/js/tabler_modal.js') }}"
            type="text/javascript"></script>
    <script src="{{ admin_static.get_url(filename='admin/js/tabler_filters.js') }}"
            type="text/javascript"></script>
    {{ actionlib.script(_gettext('Please select at least one record.') ,
    actions,
    actions_confirmation) }}
{% endblock tail %}
