*.swp
*.swo
*.pyc
*.*~
*.rdb
*.egg-info
pyenv
#*#
build
source/_static*
source/_templates*
flask_admin/tests/tmp
dist/*
make.bat
venv
*.sqlite
*.sublime-*
.coverage
__pycache__
examples/sqla-inline/static
examples/file/files
examples/forms/files
.DS_Store
.idea/
