ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.7
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
        exclude: "(codemirror|jquery)"
      - id: debug-statements
        exclude: "(codemirror|jquery)"
      - id: fix-byte-order-marker
        exclude: "(codemirror|jquery)"
      - id: trailing-whitespace
        exclude: "(codemirror|jquery)"
      - id: end-of-file-fixer
        exclude: "(codemirror|jquery)"
