[tool.poetry]
name = "flask_admin_plus"
version = "1.6.5"
description = "Flask Admin with a few more features and improvements"
authors = ["Sean McCarthy <smccarthy@myijack.com>"]
packages = [
    { include = "flask_admin" },
]

[tool.poetry.dependencies]
python = ">=3.7,<3.12"

[tool.poetry.dev-dependencies]
Flask = "^2.1.2"
python-dotenv = "^0.20.0"
flask-redis = "^0.4.0"
Flask-SQLAlchemy = "^2.5.1"
WTForms = "^3.0.1"
MarkupSafe = "^2.1.1"
flake8 = "^4.0.1"
pytest = "^7.1.2"
Flask-BabelEx = "^0.9.4"
GeoAlchemy2 = "^0.11.1"
Shapely = "^1.8.2"
SQLAlchemy-Utils = "^0.38.2"
pymongo = "^4.1.1"
peewee = "^3.14.10"
flask-mongoengine = "^1.0.0"
arrow = "^1.2.2"
wtf-peewee = "^3.0.4"
Pillow = "^9.1.1"
Babel = "^2.10.1"
psycopg2-binary = "^2.9.3"
pytest-cov = "^3.0.0"
coveralls = "^3.3.1"
sqlalchemy-citext = "^1.8.0"
azure-storage-blob = "^12.12.0"
colour = "^0.1.5"
email-validator = "^1.2.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
