flake8
Flask>=0.7
Flask-SQLAlchemy>=0.15
peewee
wtf-peewee
mongoengine
pymongo
flask-mongoengine==0.8.2
pillow>=3.3.2
Babel<=1.3
flask-babelex
shapely==1.5.9
geoalchemy2
psycopg2
nose
coveralls
pylint
sqlalchemy-citext
sqlalchemy-utils<=0.36.6; python_version < "3.0"
sqlalchemy-utils>=0.36.6; python_version >= "3.0"
azure-storage-blob
arrow<0.14.0
colour
email-validator
