Flask
werkzeug
sqlalchemy
MarkupSafe
jinja2
Flask-SQLAlchemy
peewee
wtf-peewee
mongoengine
pymongo
flask-mongoengine
pillow
shapely
geoalchemy2
psycopg2
sqlalchemy-citext
sqlalchemy-utils
azure-storage-blob<12
arrow
colour
email-validator
wtforms
# flask
itsdangerous
