/* Global styles */
body
{
    padding-top: 50px;
}

/* Form customizations */
form.icon {
    display: inline;
}

form.icon button {
    border: none;
    background: transparent;
    text-decoration: none;
    padding: 0;
    line-height: normal;
}

a.icon {
    text-decoration: none;
}

/* Model search form */
form.search-form {
    margin: 4px 0 0 0;
}

form.search-form a.clear i {
    margin: 2px 0 0 0;
}

/* Filters */
.filter-row {
    margin: 4px;
}

.filter-row a, .filter-row select {
    margin-right: 4px;
}

.filter-row input
{
    margin-bottom: 0px;
    width: 208px;
}

.filter-row .remove-filter
{
    vertical-align: middle;
}

.filter-row .remove-filter .close-icon
{
    font-size: 16px;
}

.filter-row .remove-filter .close-icon:hover
{
    color: black;
    opacity: 0.4;
}

/* Inline forms */
.fa-inline-field {
    padding-bottom: 0.5em;
}

.fa-inline-field-control {
    float: right;
}
