{% extends 'admin/master.html' %}

{% block body %}
    <form action="" method="POST" class="form-horizontal">
      <fieldset>
        {{ form.csrf }}

        {% for f in form if f.label.text != 'Csrf' %}
        {% if f.name in form.errors %}
        <div class="control-group error">
        {% else %}
        <div class="control-group">
        {% endif %}
          {{ f.label(class='control-label') }}
          <div class="controls">
            <div>
              {{ f }}
            </div>
            {% if f.name in form.errors %}
              <ul>
              {% for e in form.errors[f.name] %}
                <li>{{ e }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        <div class="control-group">
          <div class="controls">
            <input type="submit" class="btn btn-primary btn-large" />
            <a href="{{ return_url }}" class="btn btn-large">Cancel</a>
          </div>
        </div>
      </fieldset>
    </form>
{% endblock %}
