{% extends 'admin/master.html' %}

{% block head %}
    <link href="{{ url_for('admin.static', filename='chosen/chosen.css') }}" rel="stylesheet">
    <link href="{{ url_for('admin.static', filename='css/datepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <form action="" method="POST" class="form-horizontal"{% if form.has_file_field %} enctype="multipart/form-data"{% endif %}>
      <fieldset>
        {{ form.csrf }}

        {% for f in form if f.label.text != 'Csrf' %}
        <div class="control-group{% if f.errors %} error{% endif %}">
          {{ f.label(class='control-label') }}
          <div class="controls">
            <div>
              {{ f }}
            </div>
            {% if f.errors %}
              <ul>
              {% for e in f.errors %}
                <li>{{ e }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        <div class="control-group">
          <div class="controls">
            <input type="submit" class="btn btn-primary btn-large" />
            <a href="{{ return_url }}" class="btn btn-large">Cancel</a>
          </div>
        </div>
      </fieldset>
    </form>
{% endblock %}

{% block tail %}
    <script src="{{ url_for('admin.static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='js/form.js') }}"></script>
{% endblock %}
