{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib %}

{% block body %}
    <table class="table table-striped table-bordered model-list">
        <thead>
            <tr>
                <th class="span1">&nbsp;</th>
                {% set column = 0 %}
                {% for c, name in list_columns %}
                <th>
                    {% if view.is_sortable(c) %}
                    {% if sort_column == column %}
                    <a href="{{ sort_url(column, True) }}">
                        {{ name }}
                        {% if sort_desc %}
                        <i class="icon-chevron-up"></i>
                        {% else %}
                        <i class="icon-chevron-down"></i>
                        {% endif %}
                    </a>
                    {% else %}
                    <a href="{{ sort_url(column) }}">{{ name }}</a>
                    {% endif %}
                    {% else %}
                    {{ name }}
                    {% endif %}
                </th>
                {% set column = column + 1 %}
                {% endfor %}
            </tr>
        </thead>
        {% for row in data %}
        <tr>
            <td>
                {%- if view.can_edit -%}
                <a href="{{ url_for('.edit_view', id=row.id, return=return_url) }}">
                    <i class="icon-pencil"></i>
                </a>
                {%- endif -%}
                {%- if view.can_delete -%}
                <a href="{{ url_for('.delete_view', id=row.id, return=return_url) }}" onclick="return confirm('You sure you want to delete this item?')">
                    <i class="icon-remove"></i>
                </a>
                {%- endif -%}
            </td>
            {% for c, name in list_columns %}
            <td>{{ get_value(row, c) }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {{ lib.pager(page, num_pages, pager_url) }}
    {% if view.can_create %}
    <a class="btn btn-primary btn-large" href="{{ url_for('.create_view', return=return_url) }}">Create New</a>
    {% endif %}
{% endblock %}
