{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Flask-Admin example</h1>
            <p class="lead">
                Custom forms
            </p>
            <p>
                This example shows how you can define your own custom forms by using form rendering rules.
            </p>
            <p>
                It also demonstrates general file handling as well as the handling of image files specifically.
            </p>
            <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </div>
    </div>
</div>
{% endblock body %}