{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">
    <h1>Flask-Admin example</h1>
    <p class="lead">
        Custom forms
    </p>
    <p>
        This example shows how you can define your own custom forms by using form rendering rules.
    </p>
    <p>
        It also demonstrates general file handling as well as the handling of image files specifically.
    </p>
    <a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Back</a>
</div>
{% endblock body %}