{% macro menu_icon(item) -%}

{% if item %}
{% set icon_type = item.get_icon_type() %}
{%- if icon_type %}
{% set icon_value = item.get_icon_value() %}
{% if icon_type == 'glyph' %}
<i class="{{ icon_value }}"></i>
{% elif icon_type == 'fa' %}
<i class="fa fa-{{ icon_value }}"></i>
{% elif icon_type == 'ti' %}
<i class="ti ti-{{ icon_value }}"></i>
{% elif icon_type == 'image' %}
<img src="{{ url_for('static', filename=icon_value) }}" alt="menu image">
{% elif icon_type == 'image-url' %}
<img src="{{ icon_value }}" alt="menu image">
{% endif %}
{% endif %}
{% endif %}

{%- endmacro %}

{% macro menu(menu_root=None) %}
{% set is_main_nav = menu_root == None %}
{% if menu_root is none %}{% set menu_root = admin_view.admin.menu() %}{% endif %}
{%- for item in menu_root %}
{%- if item.is_category() -%}
{% set children = item.get_children() %}
{%- if children %}
{% set class_name = item.get_class_name() or '' %}

{% set _sidebar = admin_view.admin.theme.is_sidebar_layout %}
<li class="nav-item dropdown {% if item.is_active(admin_view) %}active{% endif %}">
  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="{{ 'false' if _sidebar else 'true' }}" href="javascript:void(0)" role="button" aria-haspopup="true"
    aria-expanded="{{ 'true' if item.is_active(admin_view) and _sidebar else 'false' }}" {% if item.is_active(admin_view) %}aria-current="page" {% endif %}>
    {% if item.class_name %}<span class="{{ item.class_name }}"></span> {% endif %}
    <span class="nav-link-icon d-md-none d-lg-inline-block">{{ menu_icon(item) }}</span>
    <span class="nav-link-title">{{ item.name }}</span>
  </a>
  <div class="dropdown-menu {% if item.is_active(admin_view) and _sidebar %}show{% endif %}">
    {%- for child in children -%}
    {%- if child.is_category() -%}
    {{ menu(menu_root=[child]) }}
    {% else %}
    {% set class_name = child.get_class_name() %}
    {% if 'dropdown-divider' in class_name %}
    <div class="dropdown-divider"></div>
    {% else %}
    {%- if child.is_active(admin_view) %}
    <a class="dropdown-item active {{ class_name }}" href="{{ child.get_url() }}" {% if child.target %} target="{{ child.target }}" {% endif %}>
      {{ menu_icon(child) }}{{ child.name }}</a>
    {% else %}
    <a class="dropdown-item {{ class_name }}" href="{{ child.get_url() }}" {% if child.target %} target="{{ child.target }}" {% endif %}>
      {{ menu_icon(child) }}{{ child.name }}</a>
    {%- endif %}
    {%- endif %}
    {%- endif %}
    {%- endfor %}
  </div>
</li>
{% endif %}
{%- else %}
{%- if item.is_accessible() and item.is_visible() -%}
{% set class_name = item.get_class_name() %}
<li class="nav-item {% if item.is_active(admin_view) %}active{% endif %}">
  <a class="nav-link {{ class_name }} {% if item.is_active(admin_view) %}active{% endif %}" href="{{ item.get_url() }}" {% if item.target %} target="{{ item.target }}" {% endif %}>
    <span class="nav-link-icon d-md-none d-lg-inline-block">{{ menu_icon(item) }}</span>
    <span class="nav-link-title">{{ item.name }}</span>
  </a>
</li>
{%- endif -%}
{% endif -%}
{% endfor %}
{% endmacro %}

{% macro menu_links(links=None) %}
{% if links is none %}{% set links = admin_view.admin.menu_links() %}{% endif %}
{% for item in links %}
{% set class_name = item.get_class_name() %}
{% if item.is_accessible() and item.is_visible() %}
<li class="nav-item">
  <a class="nav-link {{ class_name }}" href="{{ item.get_url() }}" {% if item.target %} target="{{ item.target }}" {% endif %}>
    <span class="nav-link-icon d-md-none d-lg-inline-block">{{ menu_icon(item) }}</span>
    <span class="nav-link-title">{{ item.name }}</span>
  </a>
</li>
{% endif %}
{% endfor %}
{% endmacro %}

{% macro messages() %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, m in messages %}
{% if category %}
{% set mapping = {'message': 'info', 'error': 'danger'} %}
<div class="alert alert-{{ mapping.get(category, category) }} alert-dismissible fade show" role="alert">
  {% else %}
  <div class="alert alert-dismissible fade show" role="alert">
    {% endif %}
    {{ m }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  {% endmacro %}
