

{% macro menu_links() %}
  {% for item in admin_view.admin.menu_links() %}
    {% if item.is_accessible() and item.is_visible() %}
      <li class="divider"></li>
      <li>
        <a href="{{ item.get_url() }}">{{ item.name }}</a>
      </li>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro messages() %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, m in messages %}
        {% if category %}
        {% set mapping = {'message': 'info', 'error': 'alert'} %}
        <div data-alert class="alert-box {{ mapping.get(category, 'warning') }} ">
        {% else %}
        <div class="alert alert-dismissable ">
        {% endif %}

          {{ m }}
        <a href="#" class="close">&times;</a>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}
