/* Global styles */
body
{
    padding-top: 4px;
}

/* Form customizations */
form.icon {
    display: inline;
}

form.icon button {
    border: none;
    background: transparent;
    text-decoration: none;
    padding: 0;
    line-height: normal;
}

a.icon {
    text-decoration: none;
    color: black;
}

/* Model search form */
form.search-form {
    margin: 4px 0 0 0;
}

form.search-form .clear i {
    margin: 2px 0 0 0;
}

form.search-form div input {
    margin: 0;
}

/* Filters */
table.filters {
    border-collapse: collapse;
    border-spacing: 4px;
}

.filters input
{
    margin-bottom: 0;
}

.filters a.remove-filter {
    margin-bottom: 0;
    display: block;
    text-align: left;
}

.filters .remove-filter
{
    vertical-align: middle;
}

.filters .remove-filter .close-icon
{
    font-size: 16px;
}

.filters .remove-filter .close-icon:hover
{
    color: black;
    opacity: 0.4;
}

.filters .filter-op > a {
    height: 28px;
    line-height: 28px;
}

/* Inline forms */
.inline-field {
    padding-bottom: 0.5em;
}

.inline-field-control {
    float: right;
}

.inline-field .inline-form-field {
    border-left: 1px solid #eeeeee;
    padding-left: 8px;
    margin-bottom: 4px;
}

/* Image thumbnails */
.image-thumbnail img {
    max-width: 100px;
    max-height: 100px;
}

/* Forms */
.form-horizontal .control-label {
    width: 100px;
    text-align: left;
    margin-left: 4px;
}

.form-horizontal .controls {
    margin-left: 110px;
}

/* Patch Select2 */
.select2-results li {
    min-height: 24px !important;
}

.list-checkbox-column {
    width: 14px;
}
