/* Global styles */
body
{
    padding-top: 4px;
}

/* Form customizations */
form.icon {
    display: inline;
}

form.icon button {
    border: none;
    background: transparent;
    text-decoration: none;
    padding: 0;
    line-height: normal;
}

a.icon, button span.glyphicon {
    text-decoration: none;
    margin-left: 10px;
    color: black;
}

/* Model search form */
form.navbar-form {
    margin: 1px 0 0 0;
}

form.navbar-form a.clear span {
    margin-top: 8px;
    margin-left: -20px;
}

form.navbar-form div.input-append {
    display: inline-flex;
}

/* Filters */

table.filters {
    border-collapse: none;
    border-spacing: 4px;
    margin: 12px 0;
}


table.filters tr td {
    padding-right: 20px;
    padding-bottom: 3px;
}

table.flters tr td:nth-child(2){
    width: 60%;
}

.filters input, .filters div.select2-container {
    margin-bottom: 0px;
    margin-left: 10px;
}

.filters div.select2-container {
    width: 100% !important;
}

.filters a.remove-filter {
    margin-bottom: 0;
    display: block;
    text-align: left;
}

.filters .remove-filter
{
    vertical-align: middle;
}

.filters .remove-filter .close-icon
{
    font-size: 16px;
}

.filters .remove-filter .close-icon:hover
{
    color: black;
    opacity: 0.4;
}

.filters .filter-op > a {
    height: 28px;
    line-height: 28px;
}

/* Inline forms */
.fa-inline-field {
    padding-bottom: 0.5em;
}

.fa-inline-field-control {
    float: right;
}

.inline-field .inline-form {
    border-left: 1px solid #eeeeee;
    padding-left: 8px;
    margin-bottom: 4px;
}

.fa-inline-field-control .glyphicon-remove {
    margin-left: -30px;
}

.panel {
    padding-top: 25px;
    padding-left: 30px;
}

.fa-inline-field {
    margin-bottom: 5px;
}

/* Inline forms */
.inline-field .inline-form {
    border-left: 1px solid #eeeeee;
    padding-left: 8px;
    margin-bottom: 4px;
}

/* Image thumbnails */
.image-thumbnail img {
    max-width: 100px;
    max-height: 100px;
}

/* Forms */
.form-horizontal {
    margin-top: 35px;
}

/* Patch Select2 */
.select2-results li {
    min-height: 24px !important;
}

.select2-container.form-control {
    height: auto !important;
    padding: 0px;
    border-width: 0px;
}

form .select2-choice {
    height: 30px !important;
}

.select2-search-choice {
    height: 24px !important;
    margin-top: 4px !important;
}

/* link style */
a.btn-cancel {
    border-radius: 4px;
    border-color: #a08c8c;
    color: #333;
    background-color: #f0b8b8;
}

a.btn-link {
    border-radius: 4px;
    border-color: #95bee2;
}
