{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Flask-Admin example</h1>
            <p class="lead">
                Bootswatch
            </p>
            <p>
                This example shows how you can define a bootstrap swatch theme
            </p>
            <pre># set flask admin swatch
app.config['FLASK_ADMIN_SWATCH'] = 'cerulean'</pre>
            <p>
                Available swatches in <a href="http://bootswatch.com/2/">http://bootswatch.com/2/</a>
            </p>
            <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </div>
    </div>
</div>
{% endblock body %}
