{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">
    <h1>Flask-Admin example</h1>
    <p class="lead">
        Simple admin views, not related to models.
    </p>
    <p>
        This example shows how to add your own views to the admin interface. The views do not have to be associated
        to any of your models, and you can fill them with whatever content you want.
    </p>
    <p>
        By adding custom views to the admin interface, they become accessible through the <em>navbar</em> at the top.
    </p>
    <a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Back</a>
</div>
{% endblock body %}