{% extends "admin/master.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block body %}
{{ super() }}
<div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>{{ _fsdomain('Send password reset instructions') }}</h1>
        <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
          {{ forgot_password_form.hidden_tag() }}
          {{ render_field_with_errors(forgot_password_form.email) }}
          {{ render_field(forgot_password_form.submit, class="btn btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}
