{% import 'admin/layout.html' as layout with context -%}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} - {{ admin_view.admin.name }}{% endblock %}</title>
    {% block head_meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
        <link href="{{ url_for('admin.static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('admin.static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
        <link href="{{ url_for('admin.static', filename='css/admin.css') }}" rel="stylesheet">
    {% endblock %}
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block page_body %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          {% block brand %}
          <span class="brand">{{ admin_view.admin.name }}</span>
          {% endblock %}
          <ul class="nav">
            {{ layout.menu() }}
          </ul>
          <ul class="nav pull-right">
            {{ layout.menu_links() }}
          </ul>
        </div>
      </div>
    </div>

    {{ layout.messages() }}

    <div class="container">
      {% block body %}{% endblock %}
    </div>
    {% endblock %}
    <script src="{{ url_for('admin.static', filename='js/jquery-1.8.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('admin.static', filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('admin.static', filename='select2/select2.min.js') }}" type="text/javascript"></script>

    {% block tail %}
    {% endblock %}
  </body>
</html>