{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row col-md-10 col-md-offset-1">
    <h1>Flask-Admin example</h1>
    <p class="lead">
        Basic SQLAlchemy model views.
    </p>
    <p>
        This example shows how to add basic CRUD-views for your SQLAlchemy models.
    </p>
    <p>
        The views are generated automatically, but it is perfectly possible to customize them to suit your needs.
    </p>
    <a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Back</a>
</div>
{% endblock body %}
