/* Global styles */
body
{
    padding-top: 50px;
}

/* Form customizations */
form.icon {
    display: inline;
}

form.icon button {
    border: none;
    background: transparent;
    text-decoration: none;
    padding: 0;
    line-height: normal;
}

a.icon {
    text-decoration: none;
}

/* Filters */
.filter-row {
    margin: 4px;
}

.filter-row a, .filter-row select {
    margin-right: 4px;
}

.filter-row input
{
    margin-bottom: 0px;
    width: 208px;
}